.layui-upload-img{
    width: 92px;
    height: 92px;
    border: 1px solid #e2e2e2;
}

.layui-upload-img-margin {
    margin: 10px 0 10px 0;
}

.layui-popup-div-margin {
    margin: 10px 10px 10px 10px;
}

.layui-align-center {
    text-align: center;
}

.layui-align-left {
    text-align: left;
}

.layui-align-right {
    text-align: right;
}